<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aeropuerto Europeo</title>
    <link rel="stylesheet" href="static/css/estilos.css">
</head>

<body>
    <div class="container">
        <h1> EuroRoutes</h1>
        <form action="/continuar" method="post">
            <button class="boton">Continuar</button>
        </form>
        <p>Para proceder de click en continuar</p>
    </div>
    <div class="logo">
        <img src="../static/images/logo.png" alt="uninortelog">
    </div>
    <div class="acreditacion">
        <p>Creditos: Kenny ZY. Juan Aragón A. Tomás Cervera T.</p>
    </div>
    
</body>
</html>
