<!DOCTYPE html>  <!-- Pág HTML donde va lo relacionado a la pág principal -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel ="stylesheet" href="{{url_for('static', filename='estilo.css')}}"> <!--lo del estilo CSS-->
    <title>Página Web Laboratorio #2</title>
    <!--Características del botón que pasa a la siguiente página (es una clase)-->
    <style> 
        .boton{ 
            position:relative;
            left: 25%;
            margin: 380px;
            width: 200px;
            padding: 0px;
            background-color: transparent;
            border-radius:0px;
            border-color: cornsilk;
        }
    </style>
</head>

<body>

    <div style="text-align: center;">
        <!--Acción para pasar a la siguiente página, se declaró en main.py-->
        <form action="/continuar" method="post">
            <!--Adentro del botón irá una imagen-->
            <button  onclick="exec('index.html');", class="boton"><img src="static/moño.png" style="width: 150px;" /></button>
        </form>
    </div>    
</body>
</html>